<div style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
  <p style="text-align: center; font-size:xx-large; font-weight: bold">
      Payment Informtion
  </p>
  <hr>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Payment Method</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <label class="radio">
            <input type="radio" name="member">
            Visa
          </label>
          <label class="radio">
            <input type="radio" name="member">
            Master Card
          </label>
          <label class="radio">
            <input type="radio" name="member">
            American express
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">card number</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="card number">
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Expairy Date</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="date" >
          </div>
        </div>
      </div>
  </div>

  <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">CCV</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="number" placeholder="">
          </div>
        </div>
      </div>
  </div>

  <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Appointments</label>
      </div>
      <div class="field-body">
        <div class="field">
            <p class="control">
                <span class="select">
                  <select>
                    <option value="">displaying appointments</option>
                    <option value="admin">Admin</option>
                    <option value="doctor">Doctor</option>
                    <option value="staff">Staff</option>
                    <option value="assistant">Assistant</option>
                    <option value="patient">Patient</option>
                  </select> 
                </span>
              </p>
        </div>
      </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">pay</button>
    </div>
    <div class="control">  
      <button class="button is-light"><a routerLink='/patient' routerLinkActive='active'>back</a></button>
    </div>
  </div>
</div>