<div class=" container column is-10" >
  <form #userRegistrationForm="ngForm" novalidate [formGroup]="accountDetailsForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="field" >
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-rounded" type="email" placeholder="Email" name="UserEmail" formControlName="UserEmail" required>
        <div *ngFor="let validation of account_validation_messages.UserEmail">
          <div class="error" *ngIf="accountDetailsForm.get('UserEmail').hasError(validation.type) && (accountDetailsForm.get('UserEmail').dirty || accountDetailsForm.get('UserEmail').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Name</label>
      <div class="columns">
        <div class="column is-6">
          <input class="input is-rounded" type="text" name="UserFirstName" placeholder="First Name" formControlName="UserFirstName"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('UserFirstName').hasError(validation.type) && (accountDetailsForm.get('UserFirstName').dirty || accountDetailsForm.get('UserFirstName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <input class="input is-rounded" type="text" name="UserLastName" placeholder="Last Name" formControlName="UserLastName" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('UserLastName').hasError(validation.type) && (accountDetailsForm.get('UserLastName').dirty || accountDetailsForm.get('UserLastName').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="field">
      <label class="label">Nick Name</label>

      <div class="columns">
        <div class="column is-12">
          <input class="input is-rounded" type="text" name="UserNickName" placeholder="Nick Name" formControlName="UserNickName" required>
          <div *ngFor="let validation of account_validation_messages.UserNickName">
            <div class="error" *ngIf="accountDetailsForm.get('UserNickName').hasError(validation.type) && (accountDetailsForm.get('UserNickName').dirty || accountDetailsForm.get('UserNickName').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="field" *ngIf="Employee && ( employeeClicked || patientClicked || mainPageClicked)">
      <label class="label">Role</label>
      <div class="columns">
        <div class="column is-12">
          <div class="control">
            <div class="select is-rounded">
              <select class="form-control" formControlName="role" (ngModelChange)="chooseEmployeeByRole($event)">
                <option value="" disabled selected readonly>Select role...</option>
                <option *ngFor="let choosenRole of roles" [value]="choosenRole">{{choosenRole}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="field" >
      <label class="label">Password</label>

      <div class="columns">
        <div class="column">
          <input class="input is-rounded" type="password" name="UserPassword" placeholder="Password" formControlName="UserPassword" required>
          <div *ngFor="let validation of account_validation_messages.Password">
            <div class="error" *ngIf="accountDetailsForm.get('UserPassword').hasError(validation.type) && (accountDetailsForm.get('UserPassword').dirty || accountDetailsForm.get('UserPassword').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field" >
      <label class="label">confirm Password</label>
      <div class="columns">
        <div class="column">
          <input class="input is-rounded" type="password" name="confirmPassword" placeholder="confirmPassword" formControlName="confirmPassword"
            required>
          <div *ngFor="let validation of account_validation_messages.confirmPassword">

            <div class="error" *ngIf="accountDetailsForm.get('confirmPassword').hasError(validation.type) && (accountDetailsForm.get('confirmPassword').dirty || accountDetailsForm.get('confirmPassword').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="field">
      <label class="label">Birthdate </label>
      <div class="columns">
        <div class="column">
          <input class="input is-rounded" type="date" name="UserDOB" placeholder="Date of birth" formControlName="UserDOB" required>
          <div *ngFor="let validation of account_validation_messages.UserDOB">
            <div class="error" *ngIf="accountDetailsForm.get('UserDOB').hasError(validation.type) && (accountDetailsForm.get('UserDOB').dirty || accountDetailsForm.get('UserDOB').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="field">
      <label class="label">Phone Number</label>
      <div class="columns">
        <div class="column">
          <input class="input is-rounded" type="number" name="UserPhone" placeholder="Phone Number" formControlName="UserPhone" minlength="9"
            maxlength="9" required>
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('UserPhone').hasError(validation.type) && (accountDetailsForm.get('UserPhone').dirty || accountDetailsForm.get('UserPhone').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="field">
      <label class="label">Gender</label>
      <div class="columns">
        <div class="column is-6">
          <label class="radio">
            <input type="radio" name="UserGender" value="M" formControlName="UserGender" required> Male
            <div *ngFor="let validation of account_validation_messages.UserGender">
              <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
            </div>
          </label>
        </div>
        <div class="column is-6">
          <label class="radio">
            <input type="radio" name="UserGender" value="F" formControlName="UserGender" required> Female
            <div *ngFor="let validation of account_validation_messages.UserGender">
              <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
            </div>
          </label>
        </div>
      </div>
    </div> -->
    <!-- <div class="field">
      <label class="label">Adress</label>
      <div class="columns">
        <div class="column is-6">
          <input class="input is-rounded" type="text" name="City" placeholder="City" formControlName="City" required>
          <div *ngFor="let validation of account_validation_messages.City">
            <div class="error" *ngIf="accountDetailsForm.get('City').hasError(validation.type) && (accountDetailsForm.get('City').dirty || accountDetailsForm.get('City').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <input class="input is-rounded" type="text" name="State" placeholder="State" formControlName="State" required>
          <div *ngFor="let validation of account_validation_messages.State">
            <div class="error" *ngIf="accountDetailsForm.get('State').hasError(validation.type) && (accountDetailsForm.get('State').dirty || accountDetailsForm.get('State').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <input class="input is-rounded" type="text" name="Street" placeholder="Street" formControlName="Street" required>
          <div *ngFor="let validation of account_validation_messages.Street">
            <div class="error" *ngIf="accountDetailsForm.get('Street').hasError(validation.type) && (accountDetailsForm.get('Street').dirty || accountDetailsForm.get('Street').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column">
          <input class="input is-rounded" type="text" name="Country" placeholder="Country" formControlName="Country" required>
          <div *ngFor="let validation of account_validation_messages.Country">
            <div class="error" *ngIf="accountDetailsForm.get('Country').hasError(validation.type) && (accountDetailsForm.get('Country').dirty || accountDetailsForm.get('Country').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <input class="input is-rounded" type="number" name="Postalcode" placeholder="Postal Code /Zip" formControlName="Postalcode"
            maxlength="5" minlength="2" required>
          <div *ngFor="let validation of account_validation_messages.Postalcode">
            <div class="error" *ngIf="accountDetailsForm.get('Postalcode').hasError(validation.type) && (accountDetailsForm.get('Postalcode').dirty || accountDetailsForm.get('Postalcode').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="field" *ngIf="Employee" [hidden]="!Patient">
      <label class="label">Start Date</label>
      <div class="columns">
        <div class="column">
          <input class="input is-rounded" type="date" name="StartDate" placeholder="Start working Date" formControlName="StartDate">
          <div *ngFor="let validation of account_validation_messages.StartDate">
            <div class="error" *ngIf="accountDetailsForm.get('StartDate').hasError(validation.type) && (accountDetailsForm.get('StartDate').dirty || accountDetailsForm.get('StartDate').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="field" *ngIf="Employee" [hidden]="!Patient">
      <label class="label">Work Hours</label>

      <div class="columns">
        <div class="column">
          <h6 for="starttime">Start Time</h6>
          <input class="input is-rounded" type="time" name="startTime" placeholder="Start Time" formControlName="startTime">
          <div *ngFor="let validation of account_validation_messages.startTime">
            <div class="error" *ngIf="accountDetailsForm.get('startTime').hasError(validation.type) && (accountDetailsForm.get('startTime').dirty || accountDetailsForm.get('startTime').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column">
          <h6 for="starttime">End Time</h6>
          <input class="input is-rounded" type="time" name="endTime" placeholder="End Time" formControlName="endTime">
          <div *ngFor="let validation of account_validation_messages.endTime">
            <div class="error" *ngIf="accountDetailsForm.get('endTime').hasError(validation.type) && (accountDetailsForm.get('endTime').dirty || accountDetailsForm.get('endTime').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div> -->
    <br>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Submit</button>
      </div>

    </div>
  </form>
</div>