<div class="container-fluid">
  <div class="columns">
    <div class="column is-4" id="sideBar">
      <div class="tab-container text-center">
        <ul class="neo-nav clearfix" role="tablist">
          <li role="presentation" class="active">
            <a (click)="addFieldTab()" id="addFieldTab_lnk" aria-controls="home" role="tab" data-toggle="tab">Add a Field</a>
          </li>

          <li role="presentation">
            <a (click)="fieldSettingTab()" id="fieldSettingTab_lnk" aria-controls="profile" role="tab" data-toggle="tab">Field Settings</a>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="sidebar-tab-content">
        <div role="tabpanel" class="tab-pane active" id="addFieldTab">
          <!-- <p>
            <a role="button" data-toggle="collapse" href="#stdFields">
              <i class="fa fa-lg fa-plus-square-o"></i>
              <i class="fa fa-lg fa-minus-square-o"></i> STANDARD FIELDS
            </a>
          </p> -->

          <div class="collapse in" id="stdFields" [hidden]="addFieldTabs">
            <ul ng-model="dragElements" name="dragElements" class="sortable-stdFields">
              <li draggable="true" class="box" *ngFor="let ele of dragElements ; let RowIndex = index" appElementDraggable [attr.data-target]="RowIndex">
                <div class="drag-element" (click)="addElement(ele)">
                  <i class="fa fa-cogs"></i> {{ele.Name}}
                </div>
              </li>
            </ul>

          </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="fieldSettingTab" [hidden]="fieldSettingTabs">

          <div *ngFor="let set of current_field.Settings" [ngSwitch]="set.Type">
            <div>

              <div class="form-group " *ngSwitchCase="'text'">
                <label for="{{set.Name.replace(' ','_')}}">{{set.Name}}</label>
                <input (change)="current_field.ChangeFieldSetting(set.Value, set.Name)" type="text" [(ngModel)]="set.Value" class="form-control"
                  id="{{set.Name.replace(' ','_')}}" value="{{set.Value}}" placeholder="{{set.Name}}">
              </div>


              <div class="form-group" *ngSwitchCase="'string'">
                <label>{{set.Name}}</label>
                <br>
                <span>{{set.Value}}</span>
              </div>


              <div class="form-group" *ngSwitchCase="'label'">
                <label class="pale">{{set.Name}}</label>
              </div>

              <div class="form-group " *ngSwitchCase="'dropdown'">
                <label>{{set.Name}}</label>
                <select class="form-control" [(ngModel)]="set.Value">
                  <option *ngFor="let op of set.PossibleValue">{{op}}</option>
                </select>
              </div>

              <div class="form-group" *ngSwitchCase="'radio'">
                <div *ngFor="let val of set.PossibleValue" class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" value="{{val.Checked}}" [checked]="val.Checked"> {{val.Text}}
                  </label>
                </div>
              </div>

              <div class="form-group" *ngSwitchCase="'dropdown_increment'">
                <label class="control">
                  Choices
                </label>
                <div *ngFor="let val of set.PossibleValue" class="radio" class="form-control">
                  <i class="fa fa-sort fa-lg">

                  </i>
                  &nbsp;
                  <i class="fa fa-circle-o fa-lg">

                  </i>
                  <input type="text" value="val.Text" [(ngModel)]="val.Text">
                </div>

              </div>



              <div *ngSwitchCase="'checkBoxZone'">
                <a role="button" data-toggle="collapse" href="#chkBoxZone">
                  <i class="fa fa-lg fa-plus-square-o"></i>
                  <i class="fa fa-lg fa-minus-square-o"></i> {{set.Name}}
                </a>
                <div class="collapse in" id="chkBoxZone">
                  <div class="form-group" *ngFor="let op of set.Options">
                    <label class="checkbox">
                      <input type="checkbox" value="{{op.Value}}" [(ngModel)]="op.Value"> {{op.Name}}
                    </label>
                  </div>

                </div>
              </div>
              <p *ngSwitchDefault>
                Unknown
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="column is-8 has-text-centered" id="main-content">
      <!-- <li role="presentation" class="active">
            <a href="#addFieldTab" aria-controls="home" role="tab" data-toggle="tab">Form Builder</a>
          </li> -->
      <form #chartForm="ngForm" novalidate (ngSubmit)="OnSubmit(chartForm)">

        <div class="field">
          <div class="control">
            <label class="label">TemplateName</label>
            <input class="input is-rounded" type="text" name="TemplateName" placeholder="Template Name" [(ngModel)]="TemplateName" required>
          </div>
        </div>
        <div class="tab-container">
          <div role="tabpanel" class="tab-pane active text-left" id="formBuilderContent">



            <div class="container-fluid" id="dropZone">
              <ul class="columns sortable-formbuilder" [sortablejs]="formFields">
                <li *ngFor="let field of formFields , let i = index" [attr.data-target]="i" [ngSwitch]="field.Type" [ngClass]="field.GetFieldSetting('Column Span').Value == 1 ? 'column is-6 sortable-field' : 'column is-12 sortable-field' "
                  (click)="activeField(field)" [attr.data-target]="i">

                  <div *ngSwitchCase="'text'">
                    <div class="form-group " [ngClass]="field.Active ? 'active-field' : '' ">
                      <input type="text" class="input-as-label" name="text" [(ngModel)]="field.Name" value="{{field.Name}}" />
                      <span *ngIf="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
                      <button class="delete is-pulled-right" (click)="removeElement(i)" ng-if="field.Active">&times;</button>

                      <input type="text" class="input is-rounded" id="{{field.Name.replace(' ','_') + field.id}}" value="{{field.Value}}" placeholder="{{field.Name}}">
                    </div>
                  </div>

                  <div class="form-group " *ngSwitchCase="'img'" [ngClass]="field.Active ? 'active-field' : '' ">

                    <input type="text" class="input-as-label" name="img" [(ngModel)]="field.Name" value="{{field.Name}}" />
                    <span *ngIf="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
                    <button class="delete is-pulled-right" (click)="removeElement(i)" ng-if="field.Active">&times;</button>

                    <input type="file" class="input is-rounded"  />
                  </div>

                  <div class="form-group " *ngSwitchCase="'file'" [ngClass]="field.Active ? 'active-field' : '' ">
                    <input type="text" class="input-as-label" name="file" [(ngModel)]="field.Name" value="{{field.Name }}" />
                    <span *ngIf="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
                    <button class="delete is-pulled-right" (click)="removeElement(i)" ng-if="field.Active">&times;</button>
                    <input type="file" class="input is-rounded" />

                  </div>

                  <div class="form-group " *ngSwitchCase="'textArea'" [ngClass]="field.Active ? 'active-field' : '' ">
                    <div>
                      <input type="text" class="input-as-label" name="textArea" [(ngModel)]="field.Name" value="{{field.Name}}" />
                      <span *ngIf="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
                      <button class="delete is-pulled-right" (click)="removeElement(i)" ng-if="field.Active">&times;</button>
                      <textarea class="input is-rounded" id="{{field.Name.replace(' ','_')  + field.id}}" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-group k" *ngSwitchCase="'date'" [ngClass]="field.Active ? 'active-field' : '' ">
                    <div>
                      <input type="text" class="input-as-label" name="date" [(ngModel)]="field.Name" value="{{field.Name}}" />
                      <span *ngIf="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
                      <button class="delete is-pulled-right" (click)="removeElement(i)" ng-if="field.Active">&times;</button>

                      <div class="has-feedback">
                        <input type="date" class="input is-rounded" placeholder="{{field.Name}}">
                        <span class="glyphicon glyphicon-calendar form-control-feedback custom-feedback" aria-hidden="true"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group " *ngSwitchCase="'dropdown'" [ngClass]="field.Active ? 'active-field' : '' ">
                    <div>
                      <input type="text" class="input-as-label" name="dropdown" [(ngModel)]="field.Name" value="{{field.Name}}" />
                      <span *ngIf="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
                      <button class="delete is-pulled-right" (click)="removeElement(i)" ng-if="field.Active">&times;</button>

                      <select class="form-control">
                        <option *ngFor="let val of field.GetFieldSetting('Choice').PossibleValue">
                          {{val.Text}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div *ngSwitchDefault>
                  </div>
                </li>
                <br>
                <li class="drop-to-add column is-12" appElementDrop>

                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>