<div *ngIf="test">
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="https://www.eharmony.co.uk/dating-advice/wp-content/uploads/2011/04/profilephotos-960x640.jpg" style="width:100%"
              alt="Avatar">

          </div>
          <div class="w3-container">
            <p>
              <i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{employeeInfo.userFirstName |titlecase}} {{ employeeInfo.userLastName |titlecase}}</p>
            <p>
              <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{employeeInfo.discriminator |titlecase}}</p>
            <p>
              <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{employeeInfo.country |titlecase}}</p>
            <p>
              <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{employeeInfo.userEmail |titlecase}}</p>
            <p>
              <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{employeeInfo.userPhone}}</p>
            <hr>


            <p routerLink='edit' routerLinkActive='active'>
              <i class="fa fa-gears fa-fw w3-margin-right w3-large w3-text-teal"></i>Edit - Settings</p>
            <p routerLink='chart' routerLinkActive='active'>
              <i class="fa fa-keyboard-o fa-fw w3-margin-right w3-large w3-text-teal"></i>Chart Template</p>
            <p routerLink='addchart' routerLinkActive='active'>
              <i class="fa fa-leaf fa-fw w3-margin-right w3-large w3-text-teal"></i>Charts</p>
            <p (click)="Deactivate(employeeInfo.userEmail)">
              <i class="fa fa-unlink fa-fw w3-margin-right w3-large w3-text-teal"></i>Deactivate Account</p>
            <br>


          </div>
        </div>
        <br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white">
          <router-outlet></router-outlet>
        </div>
        <!-- End Right Column -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Page Container -->
  </div>

  <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>

    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by
      <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </p>
  </footer>
</div>