<div class=" container column is-10" *ngIf="patient">


  <label class="label" style="font-size:25px ">Edit Patient Profile </label>


  <hr>
  <form #userEditForm="ngForm" novalidate [formGroup]="accountDetailsForm" (ngSubmit)="OnSubmit(userEditForm)">
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">First Name</label>
          <input class="input is-rounded" type="text" name="UserFirstName" formControlName="UserFirstName" placeholder="First Name"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('UserFirstName').hasError(validation.type) && (accountDetailsForm.get('UserFirstName').dirty || accountDetailsForm.get('UserFirstName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Last Name</label>
          <input class="input is-rounded" type="text" name="UserLastName" formControlName="UserLastName" placeholder="Last Name" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('UserLastName').hasError(validation.type) && (accountDetailsForm.get('UserLastName').dirty || accountDetailsForm.get('UserLastName').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label"> Nick Name</label>
          <input class="input is-rounded" type="text" name="UserNickName" formControlName="UserNickName" placeholder="Nick Name" required>
          <div *ngFor="let validation of account_validation_messages.UserNickName">
            <div class="error" *ngIf="accountDetailsForm.get('UserNickName').hasError(validation.type) && (accountDetailsForm.get('UserNickName').dirty || accountDetailsForm.get('UserNickName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Patient #</label>
          <input class="input is-rounded" type="number" name="UserId" formControlName="UserId" placeholder="Patient #" readonly>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('UserId').hasError(validation.type) && (accountDetailsForm.get('UserId').dirty || accountDetailsForm.get('UserId').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-rounded" type="email" placeholder="Email" name="UserEmail" formControlName="UserEmail" readonly>
        <div *ngFor="let validation of account_validation_messages.UserEmail">
          <div class="error" *ngIf="accountDetailsForm.get('UserEmail').hasError(validation.type) && (accountDetailsForm.get('UserEmail').dirty || accountDetailsForm.get('UserEmail').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Home Phone</label>
          <input class="input is-rounded" type="number" name="HomePhone" formControlName="HomePhone" placeholder="Home Phone">
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('HomePhone').hasError(validation.type) && (accountDetailsForm.get('HomePhone').dirty || accountDetailsForm.get('HomePhone').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Street Address</label>
          <input class="input is-rounded" type="text" name="Street" formControlName="HomePhone" placeholder="Street Address" required>
          <div *ngFor="let validation of account_validation_messages.Street">
            <div class="error" *ngIf="accountDetailsForm.get('Street').hasError(validation.type) && (accountDetailsForm.get('Street').dirty || accountDetailsForm.get('Street').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Mobile Phone</label>
          <input class="input is-rounded" type="number" name="MobilePhone" formControlName="MobilePhone" placeholder="Mobile Phone"
            required>
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('MobilePhone').hasError(validation.type) && (accountDetailsForm.get('MobilePhone').dirty || accountDetailsForm.get('MobilePhone').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">State</label>
          <input class="input is-rounded" type="text" name="State" formControlName="State" placeholder="State" required>
          <div *ngFor="let validation of account_validation_messages.State">
            <div class="error" *ngIf="accountDetailsForm.get('State').hasError(validation.type) && (accountDetailsForm.get('State').dirty || accountDetailsForm.get('State').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Work Phone</label>
          <input class="input is-rounded" type="number" name="WorkPhone" formControlName="WorkPhone" placeholder="Work Phone" required>
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('WorkPhone').hasError(validation.type) && (accountDetailsForm.get('WorkPhone').dirty || accountDetailsForm.get('WorkPhone').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">City</label>
          <input class="input is-rounded" type="text" name="City" formControlName="City" placeholder="City" required>
          <div *ngFor="let validation of account_validation_messages.City">
            <div class="error" *ngIf="accountDetailsForm.get('City').hasError(validation.type) && (accountDetailsForm.get('City').dirty || accountDetailsForm.get('City').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Fax Phone</label>
          <input class="input is-rounded" type="number" name="FaxPhone" formControlName="FaxPhone" placeholder="Fax Phone" required>
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('FaxPhone').hasError(validation.type) && (accountDetailsForm.get('FaxPhone').dirty || accountDetailsForm.get('FaxPhone').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Postal / Zip</label>
          <input class="input is-rounded" type="text" name="Postalcode" formControlName="Postalcode" placeholder="Postal / Zip" required>
          <div *ngFor="let validation of account_validation_messages.Postalcode">
            <div class="error" *ngIf="accountDetailsForm.get('Postalcode').hasError(validation.type) && (accountDetailsForm.get('Postalcode').dirty || accountDetailsForm.get('Postalcode').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">

        </div>
        <div class="column is-6">
          <label class="label">Country</label>
          <input class="input is-rounded" type="text" name="Country" formControlName="Country" placeholder="Country" required>
          <div *ngFor="let validation of account_validation_messages.Country">
            <div class="error" *ngIf="accountDetailsForm.get('Country').hasError(validation.type) && (accountDetailsForm.get('Country').dirty || accountDetailsForm.get('Country').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Birth Date</label>
          <div class="columns">
            <div class="column">
              <label class="label">Month</label>
              <input class="input is-rounded" type="text" name="Month" formControlName="Month" placeholder="Month" required>
              <!-- <div *ngFor="let validation of account_validation_messages.UserDOB">
                <div class="error" *ngIf="accountDetailsForm.get('UserDOB').hasError(validation.type) && (accountDetailsForm.get('UserDOB').dirty || accountDetailsForm.get('UserDOB').touched)">{{validation.message}}</div>
              </div> -->
            </div>
            <div class="column">
              <label class="label">Day</label>
              <input class="input is-rounded" type="text" name="Day" formControlName="Day" placeholder="Day" required>
              <!-- <div *ngFor="let validation of account_validation_messages.UserDOB">
                <div class="error" *ngIf="accountDetailsForm.get('UserDOB').hasError(validation.type) && (accountDetailsForm.get('UserDOB').dirty || accountDetailsForm.get('UserDOB').touched)">{{validation.message}}</div>
              </div> -->
            </div>
            <div class="column">
              <label class="label">Year</label>
              <!-- <input class="input is-rounded" type="text" name="Year" formControlName="Year" placeholder="Year" required>
              <div *ngFor="let validation of account_validation_messages.UserDOB">
                <div class="error" *ngIf="accountDetailsForm.get('UserDOB').hasError(validation.type) && (accountDetailsForm.get('UserDOB').dirty || accountDetailsForm.get('UserDOB').touched)">{{validation.message}}</div>
              </div> -->
            </div>
          </div>
          <hr>
        </div>
        <div class="column is-6">
          <label class="label">Gender</label>
          <br>
          <div class="columns">
            <div class="column is-6">
              <label class="radio">
                <input type="radio" name="UserGender" value="M" formControlName="UserGender" required> Male
                <div *ngFor="let validation of account_validation_messages.UserGender">
                  <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
                </div>
              </label>
            </div>
            <div class="column is-6">
              <label class="radio">
                <input type="radio" name="UserGender" value="F" formControlName="UserGender" required> Female
                <div *ngFor="let validation of account_validation_messages.UserGender">
                  <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
                </div>
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Personal Health Number</label>
          <input class="input is-rounded" type="text" name="PersonalHealthNumber" formControlName="PersonalHealthNumber" placeholder="Personal Health Number"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('PersonalHealthNumber').hasError(validation.type) && (accountDetailsForm.get('PersonalHealthNumber').dirty || accountDetailsForm.get('PersonalHealthNumber').touched)">{{validation.message}}</div>
          </div>
          <hr>
        </div>
        <div class="column is-6">
          <label class="label">Parent / Guardian</label>
          <input class="input is-rounded" type="text" name="Parent" formControlName="Parent" placeholder="Parent /Guardian" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Parent').hasError(validation.type) && (accountDetailsForm.get('Parent').dirty || accountDetailsForm.get('Parent').touched)">{{validation.message}}</div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Family Doctor</label>
          <input class="input is-rounded" type="text" name="FamilyDoctor" formControlName="FamilyDoctor" placeholder="Family Doctor"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('FamilyDoctor').hasError(validation.type) && (accountDetailsForm.get('FamilyDoctor').dirty || accountDetailsForm.get('FamilyDoctor').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Occupation </label>
          <input class="input is-rounded" type="text" name="Occupation" formControlName="Occupation" placeholder="Occupation" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Occupation').hasError(validation.type) && (accountDetailsForm.get('Occupation').dirty || accountDetailsForm.get('Occupation').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column">
              <label class="label">Email</label>
              <input class="input is-rounded" type="text" name="DoctorEmail" formControlName="DoctorEmail" placeholder="Doctor Email" required>
              <div *ngFor="let validation of account_validation_messages.UserEmail">
                <div class="error" *ngIf="accountDetailsForm.get('DoctorEmail').hasError(validation.type) && (accountDetailsForm.get('DoctorEmail').dirty || accountDetailsForm.get('DoctorEmail').touched)">{{validation.message}}</div>
              </div>
            </div>
            <div class="column">
              <label class="label">Phone</label>
              <input class="input is-rounded" type="text" name="DoctorPhone" formControlName="DoctorPhone" placeholder="Doctor Phone" required>
              <div *ngFor="let validation of account_validation_messages.UserPhone">
                <div class="error" *ngIf="accountDetailsForm.get('DoctorPhone').hasError(validation.type) && (accountDetailsForm.get('DoctorPhone').dirty || accountDetailsForm.get('DoctorPhone').touched)">{{validation.message}}</div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="column">
          <label class="label">Employer </label>
          <input class="input is-rounded" type="text" name="Employer" formControlName="Employer" placeholder="Employer" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Employer').hasError(validation.type) && (accountDetailsForm.get('Employer').dirty || accountDetailsForm.get('Employer').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Refering Proffessional</label>
          <input class="input is-rounded" type="text" name="ReferingProffessional" formControlName="ReferingProffessional" placeholder="Refering Proffessional"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('ReferingProffessional').hasError(validation.type) && (accountDetailsForm.get('ReferingProffessional').dirty || accountDetailsForm.get('ReferingProffessional').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">

        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column">
              <label class="label">Email</label>
              <input class="input is-rounded" type="text" name="ReferingEmail" formControlName="ReferingEmail" placeholder="Refering Email"
                required>
              <div *ngFor="let validation of account_validation_messages.UserEmail">
                <div class="error" *ngIf="accountDetailsForm.get('ReferingEmail').hasError(validation.type) && (accountDetailsForm.get('ReferingEmail').dirty || accountDetailsForm.get('ReferingEmail').touched)">{{validation.message}}</div>
              </div>
            </div>
            <div class="column">
              <label class="label">Phone</label>
              <input class="input is-rounded" type="text" name="ReferingPhone" formControlName="ReferingPhone" placeholder="Refering Phone"
                required>
              <div *ngFor="let validation of account_validation_messages.UserPhone">
                <div class="error" *ngIf="accountDetailsForm.get('ReferingPhone').hasError(validation.type) && (accountDetailsForm.get('ReferingPhone').dirty || accountDetailsForm.get('ReferingPhone').touched)">{{validation.message}}</div>
              </div>
            </div>

          </div>
          <hr>
        </div>
        <div class="column">

        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Emergency Contact</label>
          <input class="input is-rounded" type="text" name="EmergencyContact" formControlName="EmergencyContact" placeholder="Emergency Contact"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('EmergencyContact').hasError(validation.type) && (accountDetailsForm.get('EmergencyContact').dirty || accountDetailsForm.get('EmergencyContact').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">

        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column">
              <label class="label">RelationShip</label>
              <input class="input is-rounded" type="text" name="RelationShip" formControlName="RelationShip" placeholder="RelationShip"
                required>
              <div *ngFor="let validation of account_validation_messages.UserFirstName">
                <div class="error" *ngIf="accountDetailsForm.get('RelationShip').hasError(validation.type) && (accountDetailsForm.get('RelationShip').dirty || accountDetailsForm.get('RelationShip').touched)">{{validation.message}}</div>
              </div>
            </div>
            <div class="column">
              <label class="label">Phone</label>
              <input class="input is-rounded" type="text" name="EmergencyPhone" formControlName="EmergencyPhone" placeholder="Emergency Phone"
                required>
              <div *ngFor="let validation of account_validation_messages.UserPhone">
                <div class="error" *ngIf="accountDetailsForm.get('EmergencyPhone').hasError(validation.type) && (accountDetailsForm.get('EmergencyPhone').dirty || accountDetailsForm.get('EmergencyPhone').touched)">{{validation.message}}</div>
              </div>
            </div>
          </div>

        </div>
        <div class="column">

        </div>
      </div>
    </div>
    <br>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Save</button>
      </div>

    </div>
  </form>
</div>