<div class="container column is-10">


    <div *ngIf="isLoginError" style="color:red">
        <i class="material-icons">error</i> Incorrect username or password
    </div>
    <form #loginForm="ngForm" (ngSubmit)="OnSubmit(loginForm)" [formGroup]="accountDetailsForm">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input is-rounded" type="email" placeholder="Email" name="Email" formControlName="Email" required>
                <div *ngFor="let validation of account_validation_messages.UserEmail">
                    <div class="error" *ngIf="accountDetailsForm.get('Email').hasError(validation.type) && (accountDetailsForm.get('Email').dirty || accountDetailsForm.get('Email').touched)">{{validation.message}}</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input is-rounded" type="password" placeholder="Password" name="Password" formControlName="Password" required>
                <div *ngFor="let validation of account_validation_messages.Password">
                    <div class="error" *ngIf="accountDetailsForm.get('Password').hasError(validation.type) && (accountDetailsForm.get('Password').dirty || accountDetailsForm.get('Password').touched)">{{validation.message}}</div>
                </div>
            </div>
        </div>
        <br>
        <div class="field is-grouped">
            <div class="control">
                <button [disabled]="!loginForm.valid" class="button is-link" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>