<div class=" container column is-10">
  <form #clinicForm="ngForm" [formGroup]="accountDetailsForm" (ngSubmit)="OnSubmit(clinicForm)">




    <div class="field">
      <label class="label">Clinic Name</label>
      <div class="control">
        <input class="input is-rounded" type="text" name="ClinicName" placeholder="Clinic Name" formControlName="ClinicName" required>
        <div *ngFor="let validation of account_validation_messages.ClinicName">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicName').hasError(validation.type) && (accountDetailsForm.get('ClinicName').dirty || accountDetailsForm.get('ClinicName').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Clinic Phone Number</label>
      <div class="control">
        <input class="input is-rounded" type="number" name="ClinicPhoneNumber" placeholder="Clinic Phone Number" formControlName="ClinicPhoneNumber"
          minlength="9" maxlength="9" required>
        <div *ngFor="let validation of account_validation_messages.UserPhone">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicPhoneNumber').hasError(validation.type) && (accountDetailsForm.get('ClinicPhoneNumber').dirty || accountDetailsForm.get('ClinicPhoneNumber').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Clinic Number</label>
      <div class="control">
        <input class="input is-rounded" type="number" placeholder="Clinic Number" name="ClinicNumber" formControlName="ClinicNumber"
          required>
        <div *ngFor="let validation of account_validation_messages.ClinicNumber">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicNumber').hasError(validation.type) && (accountDetailsForm.get('ClinicNumber').dirty || accountDetailsForm.get('ClinicNumber').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Clinic Email Address</label>
      <div class="control">
        <input class="input is-rounded" type="email" placeholder="Clinic Email" name="ClinicEmail" formControlName="ClinicEmail"
          required>
        <div *ngFor="let validation of account_validation_messages.ClinicEmail">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicEmail').hasError(validation.type) && (accountDetailsForm.get('ClinicEmail').dirty || accountDetailsForm.get('ClinicEmail').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input is-rounded" type="password" name="Password" placeholder="Password" formControlName="Password" required>
        <div *ngFor="let validation of account_validation_messages.Password">
          <div class="error" *ngIf="accountDetailsForm.get('Password').hasError(validation.type) && (accountDetailsForm.get('Password').dirty || accountDetailsForm.get('Password').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input class="input is-rounded" type="password" name="ConfirmPassword" placeholder="Confirm Password" formControlName="ConfirmPassword"
          required>
        <div *ngFor="let validation of account_validation_messages.ConfirmPassword">
          <div class="error" *ngIf="accountDetailsForm.get('ConfirmPassword').hasError(validation.type) && (accountDetailsForm.get('ConfirmPassword').dirty || accountDetailsForm.get('ConfirmPassword').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Country</label>
      <div class="control">
        <input class="input is-rounded" type="text" name="Country" placeholder="Country" formControlName="Country" required>
        <div *ngFor="let validation of account_validation_messages.Country">
          <div class="error" *ngIf="accountDetailsForm.get('Country').hasError(validation.type) && (accountDetailsForm.get('Country').dirty || accountDetailsForm.get('Country').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">City</label>
      <div class="control">
        <input class="input is-rounded" type="text" name="City" placeholder="City" formControlName="City" required>
        <div *ngFor="let validation of account_validation_messages.City">
          <div class="error" *ngIf="accountDetailsForm.get('City').hasError(validation.type) && (accountDetailsForm.get('City').dirty || accountDetailsForm.get('City').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">State</label>
      <div class="control">
        <input class="input is-rounded" type="text" name="State" placeholder="State" formControlName="State" required>
        <div *ngFor="let validation of account_validation_messages.State">
          <div class="error" *ngIf="accountDetailsForm.get('State').hasError(validation.type) && (accountDetailsForm.get('State').dirty || accountDetailsForm.get('State').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Street</label>
      <div class="control">
        <input class="input is-rounded" type="text" name="Street" placeholder="Street" formControlName="Street" required>
        <div *ngFor="let validation of account_validation_messages.Street">
          <div class="error" *ngIf="accountDetailsForm.get('Street').hasError(validation.type) && (accountDetailsForm.get('Street').dirty || accountDetailsForm.get('Street').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">PostalCode /Zip</label>
      <div class="control">
        <input class="input is-rounded" type="number" name="Postalcode" placeholder="Postal Code /Zip" formControlName="Postalcode"
          maxlength="5" minlength="2" required>
        <div *ngFor="let validation of account_validation_messages.Postalcode">
          <div class="error" *ngIf="accountDetailsForm.get('Postalcode').hasError(validation.type) && (accountDetailsForm.get('Postalcode').dirty || accountDetailsForm.get('Postalcode').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>


    <div class="field">
      <label class="label">Work Hours</label>

      <div class="columns">
        <div class="column">
          <h6 for="starttime">Opening Time</h6>
          <input class="input is-rounded" type="time" name="OpeningTime" placeholder="Opening Time" formControlName="OpeningTime" required>
          <div *ngFor="let validation of account_validation_messages.startTime">
            <div class="error" *ngIf="accountDetailsForm.get('OpeningTime').hasError(validation.type) && (accountDetailsForm.get('OpeningTime').dirty || accountDetailsForm.get('OpeningTime').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column">
          <h6 for="starttime">Close Time</h6>
          <input class="input is-rounded" type="time" name="CloseTime" placeholder="Close Time" formControlName="CloseTime" required>
          <div *ngFor="let validation of account_validation_messages.endTime">
            <div class="error" *ngIf="accountDetailsForm.get('CloseTime').hasError(validation.type) && (accountDetailsForm.get('CloseTime').dirty || accountDetailsForm.get('CloseTime').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Next</button>
      </div>

    </div>
  </form>
</div>