<div class="container columns">
    <div class="container column is-12">
        <div class="field column is-4">
            <div class="columns">
                <div class="control">
                    <p>List Of Employee</p>
                    <br />
                    <div class="select is-rounded">
                        <select class="form-control" name="employee" [(ngModel)]="selectedEmployee" (ngModelChange)="chooseEmployeeByRole(selectedEmployee)">
                            <option value="">Select Employee...</option>
                            <option *ngFor="let selectedEmployee of employee">{{selectedEmployee}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>