
<div class="container column is-11">
  <div class="columns">
    <div class="column ">
      <div class="card">
        <div class="card-content">
          <ul class="tabs columns">

            <li class="tabs column is-6">
              <a routerLink='signup' routerLinkActive='active'>Sign Up</a>
            </li>
            <li class="tabs column is-6">
              <a routerLink='scheduler' routerLinkActive='active'>Book An Appointment</a>
            </li>

          </ul>
        </div>
        <div class="card-content">
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="column is-1">
</div>